%button {
  -webkit-appearance: none;
  background-color: $blue-light;
  border: 0;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: bold;
  padding: 7px 50px 6px;
  transition-duration: .25s;
  transition-property: transform, background-color;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: $blue;
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }
}