.content-and-statistics {
  background-color: $white;
  position: relative;

  &__content-container {
    box-sizing: border-box;
    padding: 30px;

    @include bp(md) {
      margin-bottom: auto;
      margin-top: auto;
      padding: 30px 40px 30px calc(33.333% + 40px);
    }

    @include bp(custom, min, $larger-width) {
      padding: 100px 100px 100px calc(33.3333% + 100px);
    }

    @include bp(lg) {
    }

    h2 {
      margin-bottom: .75em;
      margin-top: 0;
    }
  }

  &__statistic-container {
    align-items: center;
    background-color: $blue-dark;
    color: $white;
    display: flex;
    font-size: 5em;
    justify-content: center;
    position: relative;

    @include bp(md) {
      font-size: 3em;
      height: 100%;
      left: 0;
      min-height: 0;
      position: absolute;
      top: 0;
      width: 33.3333%;
    }

    @include bp(lg) {
      font-size: 5em;
    }

    @include bp(custom, min, $larger-width) {
      font-size: 6em;
    }

    .js-odometer-value {
      top: 6px;

      @include bp(md) {
        top: 4px;
      }

      @include bp(lg) {
        top: 9px;
      }
    }

    &.blue-dark {
      background-color: $blue;
    }

    &.blue {
      background-color: $blue-light;
    }

    &__value {
      @extend %flap;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      justify-content: center;
      min-height: 100vw;
      overflow: hidden;
      padding: 20px;
      position: relative;
      width: 100%;

      @include bp(md) {
        min-height: 0;
      }

      // scss-lint:disable NestingDepth
      &::after {
        background-position: bottom left;
        height: 100%;
        width: 100%;
      }
      // scss-lint:enable NestingDepth
    }

    span,
    p {
      position: relative;
      z-index: 2;
    }

    span {
      display: inline-block;
      line-height: 1;
      margin-top: auto;
    }

    p {
      flex-basis: 100%;
      font-size: 14px;
      font-weight: 600;
      margin: 10px 0 auto;
      text-align: center;

      @include bp(lg) {
        font-size: 16px;
      }
    }
  }

  &__container {
    position: relative;

    @include bp(md) {
      display: flex;
      min-height: calc(100vw / 3);
    }

    @include bp(custom, min, $larger-width) {
      min-height: calc(#{$larger-width} / 3);
    }

    &.content-first {
      // scss-lint:disable NestingDepth
      [class*=__content-container] {
        @include bp(md) {
          padding: 30px calc(33.333% + 40px) 30px 40px;
        }

        @include bp(custom, min, $larger-width) {
          padding: 100px calc(33.3333% + 100px) 100px 100px;
        }
      }

      [class*=__statistic-container] {
        @include bp(md) {
          left: auto;
          right: 0;
        }
      }
      // scss-lint:enable NestingDepth
    }
  }
}

.firefox {
  .content-and-statistics {
    .js-append {
      line-height: .82;
    }
  }
}
