.content-two-columns {
  background-color: $white;
  overflow: hidden;
  position: relative;

  &__logo-container,
  &__image,
  &__logo-container::before {
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include bp(md) {
      height: 100%;
      width: 33.33333%;
    }
  }

  &__logo-container {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;

    &::before {
      @include psuedo;
      background-color: $blue-dark;
      opacity: .5;
      z-index: 2;

      @include bp(md) {
        width: 100%;
      }
    }

    img {
      max-width: 200px;
      position: relative;
      z-index: 3;

      @include bp(lg) {
        max-width: 300px;
      }
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include bp(md) {
      height: 120%;
      top: -10%;
    }

    &--trimmed {
      @include bp(md) {
        height: 140%;
        top: -20%;
      }
    }
  }

  &__split-container {
    position: relative;

    @include bp(lg) {
      display: flex;
    }
  }

  &__background-big {
    align-items: center;
    display: flex;
    font-size: 12em;
    height: 100%;
    justify-content: center;
    opacity: .15;
    pointer-events: none;
    position: absolute;
    width: 100%;

    @include bp(lg) {
      font-size: 17em;
    }

    &.blue-light {
      color: $blue-light;
    }

    &.blue {
      color: $blue;
    }

    &.blue-dark {
      color: $blue-dark;
    }

    &.orange {
      color: $fire;
    }

    &.purple {
      color: $berry;
    }
  }

  &__content-container {
    align-items: center;
    box-sizing: border-box;
    padding: 340px 30px 40px;

    @include bp(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 100vh;
      padding: 100px 80px 100px calc(33.33333% + 60px);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      &:first-of-type {
        margin-top: 0;
      }
    }

    h2 {
      margin-bottom: .75em;
    }

    h4 {
      font-size: 1em;
      font-weight: 800;
    }

    a {
      color: $dusk;
      text-decoration: none;
    }

    .full-width {
      flex-basis: 100%;
      margin: auto 0 .75em !important;
      position: relative;
      width: 100%;
    }

    &__content {
      box-sizing: border-box;
      margin: 0;

      &__background-small {
        align-items: center;
        display: flex;
        font-size: 12em;
        height: 100%;
        justify-content: center;
        opacity: .15;
        pointer-events: none;
        position: absolute;
        width: 100%;

        @include bp(lg) {
          font-size: 17em;
        }

        &.blue-light {
          color: $blue-light;
        }
    
        &.blue {
          color: $blue;
        }
    
        &.blue-dark {
          color: $blue-dark;
        }
    
        &.orange {
          color: $fire;
        }
    
        &.purple {
          color: $berry;
        }
      }

      &--split,
      &--b {
        flex-basis: 50%;
      }

      &--split {

        @include bp(lg) {
          padding-right: 30px;
        }
      }

      &--b {

        @include bp(lg) {
          padding-left: 30px;
        }
      }
    }

    &.has-long-title {
      [class*=__content] {
        margin-top: 0;
      }

      [class*=__split-container] {
        margin-bottom: auto;
      }
    }

    &--trimmed {
      min-height: calc(#{$larger-width} / 3);
      padding-bottom: 60px !important;
      padding-top: 340px !important;

      @include bp(md) {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
      }
    }

    &--blue,
    &--blue-light,
    &--blue-dark,
    &--orange,
    &--orange {
      color: $white;

      * {
        color: inherit;
      }
    }

    &--blue { background-color: $blue; }
    &--blue-light { background-color: $blue-light; }
    &--blue-dark { background-color: $blue-dark; }
    &--orange { background-color: $fire; }
    &--orange { background-color: $berry; }
  }

  &__container {
    display: flex;
    position: relative;

    &--pattern {
      &::before {
        @include psuedo;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        left: 0;
        top: 0;
        z-index: 2;
        width: 300px;

        @include bp(md) {
          height: calc(#{$larger-width} / 3);
          width: 33.333%;
        }
      }

      &.blue-light {
        &::before {
          background-image: url('../assets/flap-blue-light-pattern.png');
        }
      }

      &.blue {
        &::before {
          background-image: url('../assets/flap-blue-pattern.png');
        }
      }

      &.orange {
        &::before {
          background-image: url('../assets/flap-orange-pattern.png');
        }
      }

      &.purple {
        &::before {
          background-image: url('../assets/flap-purple-pattern.png');
        }
      }

      &.blue-dark {
        &::before {
          background-image: url('../assets/flap-blue-dark-pattern.png');
        }
      }
    }

    &.flipped {

      &::before {
        @include bp(md) {
          left: auto;
          right: 0;
        }
      }

      [class*=__image],
      [class*=__logo-container] {
        @include bp(md) {
          left: auto;
          right: 0;
        }
      }

      .content-two-columns__content-container {
        @include bp(md) {
          padding: 100px calc(33.33333% + 60px) 100px 50px;
        }
        
        @include bp(lg) {
          padding: 100px calc(33.33333% + 60px) 100px 100px;          
        }
      }
    }
  }
}