.content-and-image {
  background-color: $white;
  overflow: hidden;

  &.blue,
  &.blue-light,
  &.blue-dark,
  &.orange,
  &.purple {
    color: $white;

    * {
      color: inherit;
    }
  }

  &.blue { background-color: $blue; }
  &.blue-light { background-color: $blue-light; }
  &.blue-dark { background-color: $blue-dark; }
  &.orange { background-color: $fire; }
  &.purple { background-color: $berry; }

  &.orange,
  &.purple {
    li {
      &::before {
        background-color: $white;
      }
    }
  }

  &__container {
    box-sizing: border-box;
    position: relative;

    @include bp(sm) {
      // min-height: calc(#{$larger-width} / 2);
      // padding: 100px;
    }

    &__content {
      align-items: flex-start;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 100vw;
      padding: 70px 40px;
      position: relative;

      @include bp(sm) {
        flex-basis: 50%;
        max-width: 50%;
        min-height: 50vw;
        width: 50%;
      }

      @include bp(lg) {
        min-height: calc(#{$larger-width} / 2);
        padding: 100px;
      }

      // scss-lint:disable NestingDepth, PropertySortOrder
      h2 {
        &:first-of-type {
          margin-top: 0;
        }
      }

      p,
      ul {
        @include bp(lg) {
          font-size: 1.5em;
        }
      }

      ul {
        li {
          @include bp(lg) {
            &::before {
              left: -20px;
              top: 19px;
            }
          }
        }
      }

      &__background {
        align-items: center;
        bottom: 0;
        display: flex;
        font-size: 17em;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: .15;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &__image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vw;
      width: 100%;

      @include bp(sm) {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
      }

      &.rellax {
        @include bp(md) {
          height: 140%;
          top: -20%;
        }
      }
    }

    &--flipped {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;

      @include bp(sm) {
        flex-direction: row;
        // display: block;
      }

      [class*=__image] {
        right: auto;
        left: 0;
      }
    }
    // scss-lint:enable NestingDepth, PropertySortOrder
  }
}