.footer {
  padding: 40px 0;

  li {
    &::before {
      display: none !important;
    }
  }

  .no-flex {
    display: block !important;
  }

  .footer-image {
    height: auto !important;
    max-width: 200px;
    width: 100% !important;
  }

  .cols {
    flex-direction: column-reverse;

    @include bp(md) {
      flex-direction: row;

      .col {
        display: flex;

        // scss-lint:disable NestingDepth
        &:first-child {
          flex-direction: column;
        }
        // scss-lint:enable NestingDepth
      }
    }
  }

  &--extra-padding {
    padding-bottom: 220px;
  }

  &__logo {
    @include cfix;
    display: inline-block;
    margin: 30px 0 10px;

    @include bp(md) {
      margin: 0 0 auto;
    }

    img {
      float: left;
      max-width: 150px;
    }
  }

  &__menu-container {
    display: flex;
    justify-content: flex-end;

    @include bp(md) {
    }
  }

  p {
    margin-bottom: 0;
  }

  ul {
    flex-basis: 50%;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;

    @include bp(md) {
      flex-basis: initial;
      margin: 0;
    }

    li {
      line-height: 1.5;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      @include bp(md) {
      }
    }

    &:last-of-type {
      display: flex;
      flex-direction: column;

      @include bp(md) {
      margin-left: 70px;
      padding-right: 30px;
      }

      @include bp(xl) {
        padding-right: 0;
      }

      li {
        &:last-child {
          margin-top: auto;
        }
      }
    }
  }

  p,
  a {
    color: $fog;
  }

  a {
    text-decoration: none;
    transition-duration: .25s;
    transition-property: color;
    transition-timing-function: ease-in-out;

    // scss-lint:disable NestingDepth
    &:hover {
      color: $blue-light;
      text-decoration: none;
    }
    // scss-lint:enable NestingDepth
  }

  .website-by {
    display: inline-block;
    margin-top: 5px;
    font-size: 12px;

    a {
      &:hover {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
}
