.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;

  .container {
    @include cfix;
    max-width: 1340px;
    padding: 0;
    position: relative;

    @include bp(lg) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      overflow: visible;
    }

    &::before,
    &::after {
      @include psuedo;
      height: 100%;
      top: 0;
    }

    &::before {
      background: linear-gradient(to bottom, $black 0%, $transparent 100%);
      left: 0;
      opacity: .4;
      width: 100vw;
    }

    &::after {
      @include bp(lg) {
        background-color: $white;
        left: calc(0px - ((100vw - #{$total-width}) / 2));
        width: calc((100vw - #{$total-width}) / 2);
      }
    }
  }

  &--blue {
    background-color: $blue-dark;

    .container {
      // scss-lint:disable NestingDepth
      &::before {
        width: 100%;
      }
      // scss-lint:enable NestingDepth
    }
  }

  &__logo {
    @include cfix;
    background-image: url('../assets/logo-flap.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: left;
    padding: 10px 70px 10px 20px;
    position: relative;
    z-index: 1;

    @include bp(md) {
      width: 33.3333%;
    }

    @include bp(lg) {
      padding: 8px 70px 8px 40px;
    }

    .swirl {
      transition: transform .5s ease-in-out;
      transform: scale(0) rotate(2turn);
      transform-origin: 13.49730053989202% 50%;
    }



    &.loaded {
      .swirl {
        transform: scale(1) rotate(0deg);
      }

      &:hover {
        .swirl {
          transform: scale(1) rotate(-360deg);
        }
      }
    }

    img,
    svg {
      float: left;
      height: auto;
      max-width: 100px;
      width: 100%;

      @include bp(lg) {
        max-width: 200px;
      }

      @include bp(IE11) {
        height: 54px;
        width: 200px;
      }
    }
  }

  &__toggle {
    position: fixed;
    right: 12px;
    top: 6px;
    transition: top .25s ease-in-out;
    z-index: 9999;

    @include bp(lg) {
      display: none;
    }

    &.is-active {
      top: 20px;
    }
  }

  &__nav {
    background-color: $blue-dark;
    box-sizing: border-box;
    height: 100vh;
    left: 0;
    opacity: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: 90px 20px 260px;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity .25s ease-in-out;
    width: 100%;
    z-index: 9998;

    @include bp(lg) {
      background-color: $transparent;
      height: auto;
      margin: 0 0 0 auto;
      opacity: 1;
      overflow: visible;
      padding: 0;
      pointer-events: all;
      position: static;
      width: auto;
    }

    .nav-menu {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;

      // scss-lint:disable NestingDepth, SelectorDepth
      > li {
        opacity: 0;
        transform: translateY(20px);
        transition-duration: .25s;
        transition-property: opacity, transform;
        transition-timing-function: ease-in-out;

        @include bp(lg) {
          display: inline-block;
          margin: 0 35px 0 0;
          opacity: 1;
          transform: translateY(0);

          &.menu-item-has-children {
            margin: 0 30px 0 0;
          }
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      // scss-lint:disable NestingDepth, SelectorDepth
      li {
        margin: 0 0 1.5em;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $white;
          font-size: 14px;
          font-weight: 800;
          text-decoration: none;

          @include bp(lg) {
            padding: 15px 0;
            transition-duration: .25s;
            transition-property: color;
            transition-timing-function: ease-in-out;
          }

          &:hover {
            color: $blue-light;
          }
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }

    .menu-item-has-children {

      @include bp(lg) {
        box-sizing: border-box;
        cursor: pointer;
      }

      // scss-lint:disable NestingDepth, SelectorDepth
      > a {
        box-sizing: border-box;
        display: inline-block;
        padding-right: 10px;
        pointer-events: none;
        position: relative;
        width: 100%;

        @include bp(lg) {
          padding-right: 0;
        }

        > span {
          display: inline-block;
          padding-right: 15px;
          position: relative;

          &::before {
            @include psuedo;
            background-image: url('../assets/flap-blue-light.svg');
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 4px;
            height: 7px;
            right: 0;
            width: 7px;
          }

          &.sub {
            &::before {
              display: none;
            }
          }
        }

        > .sub {
          display: none;
        }
      }

      .sub-menu {
        max-height: 0;
        overflow: hidden;
        transition-delay: .3s;
        transition-duration: .25s;
        transition-property: max-height;
        transition-timing-function: ease-in-out;

        // scss-lint:disable ImportantRule
        @include bp(lg) {
          box-shadow: 5px 5px 10px 0 $submenu-shadow;
          max-height: none !important;
          opacity: 0;
          overflow: visible;
          pointer-events: none;
          position: absolute;
          right: 0;
          top: 100%;
          transform: translateY(-50px) rotateX(45deg);
          transition-delay: 0s;
          transition-property: transform, opacity;
          width: 320px;
        }
        // scss-lint:enable ImportantRule

        li {
          @include cfix;
          background-color: $dropdown-white;
          margin: 5px 0 0;
          opacity: 0;
          position: relative;
          transform: translateY(20px);
          transition-duration: .25s;
          transition-property: opacity, transform;
          transition-timing-function: ease-in-out;

          @include bp(lg) {
            margin: 0;
            opacity: 1;
            transform: translateY(0);
          }

          &:first-child {
            margin-top: 15px;

            @include bp(lg) {
              margin-top: 0;
              padding-top: 15px;
            }
          }

          &:last-child {

            @include bp(lg) {
              padding-bottom: 15px;
            }
          }

          &.car-wash {
            a {
              &::before {
                background-image: url('../assets/disc-car-wash.svg');
              }

              &:hover {
                span:first-of-type {
                  color: $blue-light;
                }
              }
            }
          }

          &.rail-wash {
            a {
              &::before {
                background-image: url('../assets/disc-rail-wash.svg');
              }

              &:hover {
                span:first-of-type {
                  color: $fire;
                }
              }
            }
          }

          &.bus-wash {
            a {
              &::before {
                background-image: url('../assets/disc-bus-wash.png');
              }

              &:hover {
                span:first-of-type {
                  color: $blue;
                }
              }
            }
          }

          &.wheel-wash {
            a {
              &::before {
                background-image: url('../assets/disc-wheel-wash.svg');
              }

              &:hover {
                span:first-of-type {
                  color: $berry;
                }
              }
            }
          }

          &.water-recycling {
            a {
              &::before {
                background-image: url('../assets/disc-water-recycling.svg');
              }

              &:hover {
                span:first-of-type {
                  color: $blue-light;
                }
              }
            }
          }

          &.wash-chemicals {
            a {
              &::before {
                background-image: url('../assets/wash-chemicals.png');
              }

              &:hover {
                span:first-of-type {
                  color: $blue-light;
                }
              }
            }
          }

          &.alt-conveyor-wash {
            a {
              &::before {
                background-color: transparent;
                background-image: url('../assets/alt-conveyor-wash.png');
              }

              &:hover {
                span:first-of-type {
                  color: $berry;
                }
              }
            }
          }

          &.alt-fleet-wash {
            a {
              &::before {
                background-color: transparent;
                background-image: url('../assets/alt-fleet-wash.png');
              }

              &:hover {
                span:first-of-type {
                  color: $fire;
                }
              }
            }
          }

          &.alt-gantry-wash {
            a {
              &::before {
                background-color: transparent;
                background-image: url('../assets/alt-gantry-wash.png');
              }

              &:hover {
                span:first-of-type {
                  color: $green;
                }
              }
            }
          }

          &.alt-wash-chemicals {
            a {
              &::before {
                background-color: transparent;
                background-image: url('../assets/alt-wash-chemicals.png');
              }

              &:hover {
                span:first-of-type {
                  color: $blue;
                }
              }
            }
          }

          &.alt-water-recycling {
            a {
              &::before {
                background-color: transparent;
                background-image: url('../assets/alt-water-recycling.png');
              }

              &:hover {
                span:first-of-type {
                  color: $blue-light;
                }
              }
            }
          }

          a {
            @include cfix;
            box-sizing: border-box;
            float: left;
            line-height: 1.5;
            padding: 10px 20px 10px 65px;
            position: relative;
            width: 100%;

            @include bp(lg) {
              padding: 8px 20px 8px 60px;
            }

            &::before {
              @include psuedo;
              background-color: $dusk;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 100%;
              height: 24px;
              left: 20px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%) rotate(0deg);
              transition-duration: .25s;
              transition-property: transform;
              transition-timing-function: ease-in-out;
              width: 24px;
            }

            span {
              color: $blue-dark;
              float: left;
              font-size: 14px;
              width: 100%;

              &:first-of-type {
                @include bp(lg) {
                  transition-duration: .25s;
                  transition-property: color;
                  transition-timing-function: ease-in-out;
                }
              }
            }

            .sub {
              color: $dusk;
              font-size: 12px;
              font-weight: 400;
            }

            &:hover {
              span:first-of-type {
                color: $blue-light;
              }

              &::before {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
        }

        &.open {
          transition-delay: 0s;

          @include bp(lg) {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0) rotateX(0deg);
          }

          li {
            opacity: 1;
            transform: translateY(0);

            @for $i from 1 through 8 {
              &:nth-child(#{$i}) {
                transition-delay: ($i * .125s);
              }
            }
          }
        }
      }

      &:hover {
        @include bp(lg) {
          // padding-left: 50px;

          .sub-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0) rotateX(0deg);
          }
        }
      }
      // scss-lint:enable NestingDepth, SelectorDepth
    }

    &.is-active {
      opacity: 1;
      pointer-events: all;

      // scss-lint:disable NestingDepth, SelectorDepth
      .nav-menu {
        > li {
          opacity: 1;
          transform: translateY(0);

          @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
              transition-delay: ($i * .125s);
            }
          }
        }
      }
    }
    // scss-lint:enable NestingDepth, SelectorDepth
  }

  li {
    &::before {
      display: none !important;
    }
  }
}

// Code/credit - https://jonsuh.com/hamburgers
// scss-lint:disable ImportantRule, VendorPrefix, PropertySortOrder, SpaceAfterPropertyColon, ColorVariable, SpaceAfterComma, Comment, NestingDepth

$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 26px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: $white !default;
$hamburger-layer-color-open: $white !default;
$hamburger-layer-border-radius: 0 !default;
$hamburger-hover-opacity: .7 !default;
$hamburger-hover-transition-duration: .15s !default;
$hamburger-hover-transition-timing-function: linear !default;

$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;

.hamburger {
  -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
  -webkit-user-select:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  height: 35px;
  margin: 1px 0 0;
  overflow: visible;
  outline: none;
  padding: $hamburger-padding-y $hamburger-padding-x;
  text-transform: none;
  transition-duration: $hamburger-hover-transition-duration;
  transition-property: opacity, filter;
  transition-timing-function: $hamburger-hover-transition-timing-function;
  width: 40px;

  &:hover {
    background: none !important;
  }

  &:focus {
    outline: none;
  }
}

.hamburger-box {
  display: inline-block;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  position: relative;
  width: $hamburger-layer-width;
}

.hamburger-inner {
  display: block;
  margin-top: $hamburger-layer-height / -2;
  top: 50%;
  transition-duration: .15s;
  transition-property: background-color;
  transition-timing-function: ease;

  &,
  &::before,
  &::after {
    background: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    height: $hamburger-layer-height;
    position: absolute;
    transition-duration: .15s;
    transition-property: transform, background-color;
    transition-timing-function: ease;
    width: $hamburger-layer-width;
  }

  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger--collapse {
  .hamburger-inner {
    bottom: 0;
    top: auto;
    transition-delay: .13s;
    transition-duration: .13s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);

    &::after {
      top: ($hamburger-layer-spacing * 2 + $hamburger-layer-height * 2) * -1;
      transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1),
      opacity .1s linear;
    }

    &::before {
      transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1),
      transform .13s cubic-bezier(.55, .055, .675, .19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: translate3d(0, ($hamburger-layer-spacing + $hamburger-layer-height) * -1, 0) rotate(-45deg);
      transition-delay: .22s;
      transition-timing-function: cubic-bezier(.215, .61, .355, 1);

      &,
      &::before,
      &::after {
        background: $hamburger-layer-color-open;
      }

      &::after {
        opacity: 0;
        top: 0;
        transition: top .2s cubic-bezier(.33333, 0, .66667, .33333),
        opacity .1s .22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333),
        transform .13s .25s cubic-bezier(.215, .61, .355, 1);
      }
    }
  }
}
