.helper-popup {
  background-color: $white;
  bottom: -200px;
  box-shadow: 0 0 10px $submenu-shadow;
  left: 50%;
  max-width: calc(100% - 40px);
  overflow: hidden;
  position: fixed;
  text-decoration: none;
  transform: translateX(-50%);
  transition: transform .5s ease, bottom .5s ease, background-color .25s ease-in-out;
  width: 100%;
  z-index: 5;

  @include bp(md) {
    max-width: 540px;
    width: 100%;
  }

  &.show {
    bottom: 30px;
  }

  .position-relative {
    box-sizing: border-box;
    padding: 20px 20px 30px;

    @include bp(md) {
      padding: 20px 145px 20px 40px;
    }

    &::before {
      @include psuedo;
      background-image: url('../assets/flap-blue-light.svg');
      background-position: bottom -25px left;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      height: 100%;
      right: -1px;
      width: 140px;

      @include bp(md) {
        background-position: bottom left;
        width: 190px;
      }
    }
  }

  &:hover {
    background-color: $blue-light;

    h3,
    p {
      color: $white;
    }

    [class*=__link-text] {
      color: $blue-dark;
    }
  }

  h3,
  p {
    margin: 0;
    position: relative;
    transition: color .25s ease-in-out;
  }

  h3 {
    margin: 0 0 .3em;

    @include bp(custom, max, $bp-md) {
      font-size: 20px;
    }
  }

  p {
    color: $light-ocean;
    font-size: 12px;
    line-height: 1.5;
    max-width: 320px;
    padding-right: 40px;

    @include bp(md) {
      font-size: 14px;
    }
  }

  &__link-text {
    bottom: 15px;
    color: $white;
    font-size: 12px;
    font-weight: 800;
    line-height: 1;
    position: absolute;
    right: 15px;
    transition: color .25s ease-in-out;

    @include bp(md) {
      bottom: 20px;
      font-size: 14px;
      right: 20px;
    }
  }
}