.hero-case-study {
  background-color: $white;
  padding: 130px 0 40px;

  @include bp(md) {
    padding: 175px 0 40px;
  }

  img {
    display: block;
    height: auto;
    margin: 0 auto 30px;
    max-width: 120px;
    width: 100%;

    @include bp(md) {
      max-width: 165px;
    }
  }

  h1,
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;

    @include bp(lg) {
      max-width: 820px;
    }
  }

  h1 {
    margin: 0 auto 15px;
    text-align: center;

    @include bp(custom, max, $bp-lg) {
      font-size: 2.5em;
    }
  }

  p {

    @include bp(md) {
      font-size: 1.529411764705882em;
      line-height: 1.5;
    }
  }
}