.hero {
  align-items: flex-end;
  background-color: $white;
  box-sizing: border-box;
  color: $blue-dark;
  display: flex;
  justify-content: flex-end;
  min-height: 250px;
  overflow: hidden;
  padding: 145px 0 60px;
  text-align: center;

  @include bp(md) {
    min-height: 335px;
    padding: 140px 0 40px;
  }

  @include bp(IE11) {
    display: block;
    min-height: 250px;
    padding: 230px 0 60px;
  }

  &[style*=background-image] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    position: relative;

    @include bp(lg) {
      background-position: center bottom -210px;
    }

    &::before {
      @include psuedo;
      background: $gradient-filter;
      height: 100%;
      left: 0;
      opacity: .6;
      top: 0;
      width: 100%;

      @include bp(md) {
        opacity: .4;
      }
    }

    .container {
      position: relative;
      z-index: 2;

      @include bp(IE11) {
        padding-top: 50px !important;
        width: 100%;
      }
    }
  }

  &:not(.theme-blank) {
    @extend %flap;

    &::after {
      bottom: -200px;
      height: 200px;
      right: -200px;
      width: 200px;

      @include bp(md) {
        bottom: -443px;
        height: 443px;
        right: -443px;
        width: 443px;
      }
    }

    &:hover {

      &::after {
        bottom: 0;
        height: 200px;
        right: 0;
        width: 200px;

        @include bp(md) {
          height: 443px;
          width: 443px;
        }
      }
    }
  }

  span {
    font-size: 1.176470588235294em;
    font-weight: 800;
    line-height: 1.5;
  }

  h1,
  p {
    color: inherit;
  }

  h1 {
    font-weight: 800;
    margin: 0;

    @include bp(custom, max, $bp-sm) {
      line-height: 1;
      margin: .25em 0 0;
    }
  }

  .container {
    margin-bottom: 0;
  }
}
