.image-two-columns {
  background-color: $white;
  overflow: hidden;

  &__image {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 200px;
    background-color: $fog;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;

    @include bp(sm) {
      height: 400px;
    }

    @include bp(md) {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 62.68656716417911%;
    }

    img {
      height: auto;
      width: 100%;
    }

    &--padded {
      padding: 40px;
    }
  }

  &__content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    position: relative;
    width: 100%;

    @include bp(sm) {
      min-height: 0;
    }

    @include bp(md) {
      min-height: 0;
      padding: 60px 40px 60px calc(62.68656716417911% + 40px);
    }

    @include bp(xl) {
      padding: 115px 60px 115px calc(62.68656716417911% + 100px);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      &:first-of-type {
        margin-top: 0;
      }
    }

    h2 {
      margin-bottom: .75em;
    }

    &__background {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      font-size: 12em;
      height: 100%;
      left: 0;
      justify-content: center;
      opacity: .15;
      pointer-events: none;
      position: absolute;
      width: 100%;

      @include bp(md) {

      }

      @include bp(md) {
        // left: auto;
        // right: 0;
        padding-left: 62.68656716417911%;
      }

      @include bp(xl) {
        font-size: 17em;
      }

      &.blue { color: $blue; }
      &.blue-light { color: $blue-light; }
      &.blue-dark { color: $blue-dark; }
      &.orange { color: $fire; }
      &.purple { color: $berry; }
    }
  }

  &__container {
    position: relative;

    @include bp(md) {
      display: flex;
    }

    &.content-first {
      [class*=__image] {
        @include bp(md) {
          left: auto;
          right: 0;
        }
      }
      [class*=__background] {
        @include bp(md) {
          padding-left: 0;
          padding-right: 62.68656716417911%;
        }
      }

      [class*=__content-container] {

        @include bp(md) {
          min-height: 0;
          padding: 60px calc(62.68656716417911% + 40px) 60px 40px;
        }

        @include bp(xl) {
          padding: 115px calc(62.68656716417911% + 60px) 115px 100px;
        }
      }
    }
  }
}
