.logos {
  background-color: $white;
  padding: 40px 0;

  @include bp(lg) {
    padding: 70px 0;
  }

  p {
    font-size: 1.176470588235294em;
    line-height: 1.5;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.default,
  .default {
    color: $black;
  }

  &.light,
  .light {
    color: $light-content;

    * {
      color: inherit;
    }
  }

  &.light-large,
  .light-large,
  &.large,
  .large {
    color: $light-content;

    p {
      font-size: 1.529411764705882em;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .max-width-690,
  .max-width-760,
  .max-width-820 {
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .max-width-690 {
    p {
      max-width: 690px;
    }
  }

  .max-width-760 {
    p {
      max-width: 760px;
    }
  }

  .max-width-820 {
    p {
      max-width: 820px;
    }
  }

  &__logo-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      height: auto;
      margin: 50px auto 0;
      max-height: 85px;
      max-width: 100px;
      width: auto;

      @include bp(sm) {
        margin: 20px 35px;
        max-width: 160px;
      }
    }

    a {
      display: inline-block;
      margin: 20px 40px;

      img {
        margin: 0;
      }
    }

    &--spread {
      // justify-content: space-between;

      a,
      .detailed-logo-wrapper {
        margin: 20px auto !important;
      }
    }
  }

  .detailed-logo-wrapper {
    box-sizing: border-box;
    cursor: pointer;
    flex-basis: 50%;
    max-width: 50%;
    padding: 20px 10px;
    position: relative;

    @include bp(sm) {
      flex-basis: auto;
      margin: 0 20px;
      max-width: none;
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 100px;
      max-width: 140px;
      transition-duration: .25s;
      transition-property: filter;
      transition-timing-function: ease;
    }

    a {
      margin: 10px 0 0;
    }

    &__content {
      left: 50%;
      max-width: 160px;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) translateZ(0) scale(1, 1);
      transition-duration: .25s;
      transition-property: opacity;
      transition-timing-function: ease;
      width: 100%;

      @include bp(custom, max, $bp-lg) {
        display: none;
      }

      // scss-lint:disable NestingDepth
      span,
      p,
      a {
        margin: 0;
        line-height: 1.5;
        text-align: center;
      }

      .odometer-value {
        text-align: center;

        &.odometer-first-value,
        &.odometer-last-value {
          width: 100%;
        }
      }

      span {
        color: $blue-light;
        display: inline-block;
        font-size: 51px;
        line-height: 64px;
      }

      p {
        color: $light-ocean;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3125;
        margin: 0 0 5px;

        @include bp(md) {
          font-size: 16px;
        }
      }

      a {
        color: $dusk;
        font-size: 14px;
        font-weight: 800;
        text-decoration: none;
      }
      // scss-lint:disable NestingDepth
    }

    &.hover {
      &:hover,
      &.active {
        // scss-lint:disable NestingDepth

        img {
          @include bp(lg) {
            filter: blur(10px);
          }
        }

        [class*=__content] {
          opacity: 1;
        }
        // scss-lint:enable NestingDepth
      }
    }
  }

  &--detailed {
    color: $off-black;

    [class*=__logo-container] {
      padding-top: 40px;
    }

    p {
      line-height: 1.5;
      margin-left: auto;
      margin-right: auto;
      max-width: 580px;

      @include bp(lg) {
        max-width: 780px;
      }
    }
  }

  .before-logo {
    display: block;
    height: auto;
    margin: 0 auto 30px;
    max-width: 140px;
  }
}