.pagination {
  flex-basis: 100%;
  margin: 60px 0 30px;
  width: 100%;

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;

    li {
      background-color: $blue;
      height: 30px;
      line-height: 30px;
      margin: 0 5px;
      overflow: hidden;
      position: relative;
      width: 30px;

      // scss-lint:disable NestingDepth
      &::after {
        @include psuedo;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after {
        background-image: url('../assets/flap-blue-dark.svg');
        bottom: -30px;
        height: 30px;
        right: -30px;
        transition-duration: .25s;
        transition-property: bottom, right;
        transition-timing-function: ease;
        width: 30px;
        z-index: 1;
      }

      &:hover {
        &::after {
          bottom: 0;
          right: 0;
        }
      }
      // scss-lint:enable NestingDepth
    }

    a,
    span {
      font-weight: 800;
    }

    a {
      color: $white;
      display: inline-block;
      font-size: 14px;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 100%;
      z-index: 3;
    }

    .active {
      pointer-events: none;

      // scss-lint:disable NestingDepth
      &::after {
        bottom: 0;
        right: 0;
      }
      // scss-lint:enable NestingDepth
    }
  }
}