.tile {
  @extend %flap;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vw;
  overflow: hidden;
  padding: 50px 40px 50px 20px;
  position: relative;
  text-decoration: none;

  @include bp(md) {
    align-items: flex-end;
    flex-basis: 50%;
    min-height: 50vw;
    padding: 50px 30px;

    &:nth-child(2n) {
      align-items: flex-start;
    }
  }

  @include bp(lg) {
    padding: 70px 100px;
  }

  @include bp(IE11) {
    max-width: 50%;
  }

  @include bp(custom, min, $larger-width) {
    min-height: calc(#{$larger-width} / 2);
  }

  &.darken {
    &::before {
      @extend %darken;
    }
  }

  &.theme-blank {
    background-color: $white;
    color: $blue;
  }

  &.theme-blue {
    background-color: $blue-light;
  }

  &.theme-purple {
    background-color: $blue-dark;
  }

  &.theme-blue-dark {
    background-color: $blue;
  }

  &.theme-orange {
    background-color: $blue-dark;
  }

  &.theme-blue-light {
    background-color: $blue-dark;
  }

  &.theme-blue-light,
  &.theme-blue {
  }

  &--download {

    &::before {
      display: none;
    }

    [class*=__content] {
      box-sizing: border-box;
      padding-right: 120px;

      @include bp(lg) {
        padding-right: 210px;
      }

      p {
        @include bp(md) {
          padding-right: 20px;
        }
      }
    }
  }

  &:hover {
    [class*=__bg] {
      @include bp(md) {
        transform: scale(1.05);
      }
    }

    .link-text {
      border-color: $white;
    }
  }

  &__bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition-duration: .25s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 100%;

    // scss-lint:disable NestingDepth
    &--case-study,
    &--download {
      &::before {
        @include psuedo;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: -100%;
        height: 100%;
        right: -100%;
        transition-duration: 2s;
        transition-property: right, bottom;
        transition-timing-function: ease;
        width: 100%;
      }
    }

    &--case-study {

      &::before {
        background-image: url('../assets/flap-blue-dark.svg');
      }
    }

    &--download {
      background-image: url('../assets/pattern-zoom.png');

      &.theme-blue-dark {
        background-color: $blue;

        &::before {
          background-image: url('../assets/flap-blue-dark.svg');
        }
      }

      &.theme-blue-light {
        background-color: $blue;

        &::before {
          background-image: url('../assets/flap-blue-light.svg');
        }
      }

      &.theme-blue {
        background-color: $blue-dark;

        &::before {
          background-image: url('../assets/flap-blue-mid.svg');
        }
      }

      &.theme-orange {
        background-color: $fire-dark;

        &::before {
          background-image: url('../assets/flap-orange.svg');
        }
      }

      &.theme-purple {
        background-color: $berry-dark;

        &::before {
          background-image: url('../assets/flap-purple.svg');
        }
      }
    }
    // scss-lint:enable NestingDepth
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
    max-width: calc(#{$total-width} / 2);
    position: relative;
    width: 100%;
    z-index: 2;

    h2,
    .link-text {
      color: inherit;
      font-weight: 800;
    }

    .link-text {
      border-bottom: 1px solid transparent;
      line-height: 1;
      transition: border-color .5s ease-in-out;
    }

    h2 {
      margin-bottom: .5em;
      margin-top: auto;
      top: -50px;
    }

    p {
      font-weight: 400;
      line-height: 1.5;

      // scss-lint:disable NestingDepth
      @include bp(md) {
        font-size: 1.176470588235294em;

        &:last-of-type {
          padding-bottom: 30px;
        }
      }
      // scss-lint:enable NestingDepth
    }

    .link-text {
      margin-top: auto;
    }

    .logo {
      bottom: 0;
      height: auto;
      max-height: 45px;
      max-width: 80px;
      position: absolute;
      right: 0;
      width: auto;

      @include bp(lg) {
        max-height: 45px;
        max-width: 172px;
      }
    }

    .download-cover {
      box-shadow: 5px 5px 10px 0 $submenu-shadow;
      height: auto;
      max-width: 110px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      @include bp(lg) {
        max-width: 200px;
      }
    }
  }

  &.activated {
    [class*=__bg]::before {
      bottom: 0;
      right: 0;
    }
  }
}

.oldschool {
  .tile {
    &::after {
      bottom: 0;
      right: 0;
    }
  }
}
