.tiles-three {
  background-color: $white;

  @include bp(md) {
    display: flex;
    flex-wrap: wrap;
  }

  .tile {
    @include bp(custom, min, 1024px) {
      flex-basis: 33.3333%;
      min-height: 33.3333vw;
      padding: 50px;
    }

    @include bp(custom, min, $larger-width) {
      min-height: calc(#{$larger-width} / 3);
    }

    p {
      // font-size: 1em;
    }

    .logo {
      @include bp(lg) {
        max-height: 45px;
        max-width: 130px;
      }
    }

    &--download {
      h2 {
        @include bp(lg) {
          font-size: 1.764705882352941em;
        }
      }

      .download-cover {
        @include bp(lg) {
          max-width: 110px;
        }
      }

      [class*=__content] {
        @include bp(lg) {
          padding-right: 140px;
        }
      }
    }
  }
}

.oldschool {
  .tiles-three {
    .tile {
      @include bp(custom, min, 1024px) {
        width: 33.33333% !important;
        max-width: 33.3333% !important;
      }
    }
  }
}
