.video-and-content {
  background-color: $white;
  padding: 40px 0 0;

  @include bp(md) {
    padding: 60px 0;
  }

  &__content-container,
  &__video-container {
    box-sizing: border-box;
  }

  &__content-container {
    padding: 50px 30px;
    position: relative;

    @include bp(md) {
      height: 100%;
      padding: 0 40px;
      width: 50%;
    }

    @include bp(lg) {
      padding: 0 60px 0 0;
      width: 33.33333%;
    }

    &__bg-text {
      align-items: center;
      display: flex;
      font-size: 12em;
      height: 100%;
      left: 0;
      justify-content: center;
      opacity: .15;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;

      @include bp(lg) {
        font-size: 17em;
      }

      &.blue-light {
        color: $blue-light;
      }

      &.blue {
        color: $blue;
      }

      &.blue-dark {
        color: $blue-dark;
      }

      &.orange {
        color: $fire;
      }

      &.purple {
        color: $berry;
      }
    }

    .full-width {
      margin-top: 0;
    }
  }

  &__video-container {
    @include bp(md) {
      right: 0;
      top: 0;
      width: 50%;
    }

    @include bp(lg) {
      width: 66.6666%;
      // padding: 100px calc(33.33333% + 60px) 100px 100px;
    }
  }

  &__container {
    @include bp(md) {
      display: flex;
      margin: auto;
      max-width: 1140px;
      position: relative;
    }

    &--video-first {
      @include cfix;
      justify-content: flex-end;

      .video-and-content__video-container {
        left: 0;
        position: absolute;
        right: auto;
      }

      .video-and-content__content-container {
        padding: 50px 30px;

        @include bp(md) {
          padding: 0 40px;
        }

        @include bp(lg) {
          padding: 0 0 0 60px;
        }
      }
    }
  }

  .responsive-iframe-container {
    height: 0;
    padding-bottom: 55%;
    position: relative;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
