.hero-contact {
  @extend %flap;
  align-items: flex-end;
  background-color: $blue;
  background-image: url('../assets/pattern.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: $white;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  padding: 140px 0 60px;
  position: relative;
  text-align: center;

  @include bp(md) {
    min-height: 335px;
    padding: 140px 0 40px;
  }

  @include bp(IE11) {
    display: block;
  }

  h1 {
    color: inherit;
    margin: 0;
  }

  .container {
    margin: auto auto 0;
    position: relative;
    z-index: 2;
  }

  &::after {
    bottom: -200px;
    height: 200px;
    right: -200px;
    width: 200px;

    @include bp(md) {
      bottom: -443px;
      height: 443px;
      right: -443px;
      width: 443px;
    }
  }

  &:hover {

    &::after {
      bottom: 0;
      height: 200px;
      right: 0;
      width: 200px;

      @include bp(md) {
        height: 443px;
        width: 443px;
      }
    }
  }
}

.contact-content {
  background-color: $white;
  padding: 40px 0 80px;

  @include bp(md) {
    padding: 60px 0 120px;
  }

  &__content {
    h4 {
      font-size: 1em;
      font-weight: 800;
      line-height: 1.470588235294118;
      margin-top: 0;
    }
  }

  &__form-embed {
    p {
      margin: 0;
    }

    br {
      display: none;
    }
  }

  .contact,
  .google-map-link {
    display: inline-block;
    text-decoration: none;
    width: 100%;
  }

  .contact {
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: $blue-dark;
    font-weight: 800;
    line-height: 1.294117647058824;
    margin-bottom: .8em;
    padding-left: 30px;

    &--telephone {
      background-image: url('../assets/icon-phone.svg');
      background-position: top 3px left;

      @include bp(custom, max, $bp-md) {
        background-size: 16px auto;
      }
    }

    &--email {
      background-image: url('../assets/icon-email.svg');
      background-position: top 6px left;
    }

    &--address {
      background-image: url('../assets/icon-location.svg');
      background-position: top 4px left 2px;
      margin-bottom: 0;
    }
  }

  .google-map-link {
    box-sizing: border-box;
    color: $blue-light;
    font-weight: 800;
    padding-left: 30px;
  }

  // scss-lint:disable SelectorFormat
  .gform_wrapper {
    padding-bottom: 60px;

    @include bp(md) {
      padding: 0 40px;
    }
  }
  // scss-lint:enable SelectorFormat
}
