.hero-home {
  background-color: $blue;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  min-height: 800px;
  height: 95vh;
  flex-direction: column;
  overflow: hidden;
  padding: 120px 0 70px;
  position: relative;

  @include bp(md) {
    min-height: 700px;
    height: 95vh;
  }

  &::before,
  &::after {
    @include psuedo;
  }

  &::before {
    @extend %darken;
  }

  &::after {
    background-image: url('../assets/hero-pattern-zoom.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -50%;
    padding-top: 50%;
    top: -50%;
    transition-delay: .5s;
    transition-duration: 1.2s;
    transition-property: top, left;
    transition-timing-function: ease;
    width: 50%;
    z-index: 3;

    @include bp(md) {
      left: -33.3333%;
      padding-top: 33.3333%;
      top: -33.3333%;
      width: 33.333%;
    }

    @include bp(lg) {
      background-size: 200% auto;
    }
  }

  &__strip {
    background-image: url('../assets/hero-strip-blue.svg');
    background-position: top right calc((#{$larger-width} - #{$total-width}) / 2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition-duration: 2s;
    transition-property: width;
    transition-timing-function: ease;
    width: 0;
    z-index: 2;
  }

  .container {
    margin: auto auto 0;
    position: relative;
    z-index: 5;

    &:first-child {
      margin-top: auto;
    }

    &:nth-child(3) {
      margin: auto auto 0;
    }
  }

  &__content {
    padding: 0 10px 80px;
    text-align: center;

    @include bp(md) {
      padding: 0;
    }

    h1,
    p {
      color: $white;
      margin: auto;
      max-width: 650px;
    }

    h1 {
      font-weight: 800;
      margin-bottom: .5em;

      @include bp('custom', 'max', $bp-md) {
        font-size: 2.8em;
      }
    }

    p {
      @extend %leadin;
    }
  }

  &__stat {
    margin-top: 30px;

    &__value {
      align-items: center;
      color: $blue-light;
      display: flex;
      font-size: 2.6em;
      justify-content: center;
      line-height: 1.25;

      @include bp(md) {
        font-size: 3em;
      }
    }

    &__description {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.3125;
      margin: 0 auto;
      max-width: 146px;
      text-align: center;
    }
  }

  &.activated {

    &::after {
      left: 0;
      top: 0;
    }

    [class*=__strip],
    .hero-home__strip {
      width: 200%;

      @include bp(md) {
        width: 125%;
      }

      @include bp(lg) {
        width: 100%;
      }
    }
  }
}


// IE11
// scss-lint:disable NestingDepth

.oldschool {
  .hero-home {

    &::after {
      left: 0;
      top: 0;
    }
    
    .container {
      margin-top: 200px;
    }

    &__stat {
      &__value {
        .js-odometer-value {
          top: 5px;
        }
      }
    }

    &__strip {
      width: 200%;

      @include bp(md) {
        width: 125%;
      }

      @include bp(lg) {
        width: 100%;
      }
    }
  }
}
