.landing {
  background-color: $white;

  @include bp(md) {
    display: flex;
    flex-direction: row-reverse;
  }

  @include bp(lg) {
    padding-top: 69px;
  }

  &__artwork,
  &__content {
    @include bp(md) {
      flex-basis: 50%;
    }
  }

  &__artwork {
    @extend %flap;
    @extend %theme-background;
    align-items: center;
    background-image: url('../assets/pattern-zoom.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vw;
    overflow: hidden;
    padding: 110px 40px 60px;
    position: relative;
    width: 100%;

    @include bp(md) {
      min-height: 90vh;
      padding: 100px 40px;
    }

    @include bp(lg) {
      align-items: flex-start;
      padding-top: 120px;
    }

    &::after {
      background-position: bottom left;
      height: 100%;
      width: 100%;
    }

    img {
      box-shadow: 0 0 10px $submenu-shadow;
      display: block;
      height: auto;
      margin: auto;
      max-width: 200px;
      position: relative;
      width: 100%;
      z-index: 2;

      @include bp(lg) {
        margin: 0 auto auto;
        max-width: 320px;
      }
    }
  }

  &__content {
    box-sizing: border-box;
    padding: 40px 30px;

    @include bp(md) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px 30px;
    }

    @include bp(custom, min, $larger-width) {
      padding: 100px;
    }

    strong,
    b {
      color: $blue-dark;
    }

    h1 {
      font-weight: 800;
      margin: 0 0 20px;

      @include bp(custom, max, $bp-sm) {
        font-size: 2.5em;
      }
    }

    .gform_wrapper,
    .hbspt-form {
      width: 100%;
    }

    .gform_footer,
    .hbspt-form .actions {
      text-align: left;
      padding-top: 1em;
    }
  }

  &.theme-orange {
    .gform_footer input,
    .hbspt-form .actions input {
      background-color: $fire;

      &:hover {
        background-color: $fire-dark;
      }
    }

    .hs-form-field {
      .hs-form-required {
        color: $fire;
      }
    }

    .gform_body {
      label {
        span {
          color: $fire;
        }
      }
    }

    .submitted-message {
      background-color: $fire;

      a,
      a strong {
        color: darken($fire, 30%);
      }
    }
  }

  &.theme-purple {
    .gform_footer input,
    .hbspt-form .actions input {
      background-color: $berry;

      &:hover {
        background-color: $berry-dark;
      }
    }

    .hs-form-field {
      .hs-form-required {
        color: $berry;
      }
    }

    .gform_body {
      label {
        span {
          color: $berry;
        }
      }
    }

    .submitted-message {
      background-color: $berry-dark;

      a,
      a strong {
        color: darken($white, 30%);
      }
    }
  }

  &.theme-blue-dark {
    .gform_footer input,
    .hbspt-form .actions input {
      background-color: $blue-dark;

      &:hover {
        background-color: $blue-dark;
      }
    }

    .gform_body {
      label {
        span {
          color: $blue-dark;
        }
      }
    }

    .hs-form-field {
      .hs-form-required {
        color: $blue-dark;
      }
    }

    .submitted-message {
      background-color: $blue-dark;

      a,
      a strong {
        color: darken($blue-light, 30%);
      }
    }
  }

  &.theme-blue {
    .gform_footer input,
    .hbspt-form .actions input {
      background-color: $blue;

      &:hover {
        background-color: $blue-dark;
      }
    }

    .gform_body {
      label {
        span {
          color: $blue;
        }
      }
    }

    .hs-form-field {
      .hs-form-required {
        color: $blue;
      }
    }

    .submitted-message {
      background-color: $blue;

      a,
      a strong {
        color: darken($white, 30%);
      }
    }
  }

}
