@import 'setup/all';
@import 'external/all';
@import 'components/all';
@import 'pages/all';

.no-comma {
  .odometer-value {
    text-align: center;

    &.odometer-first-value,
    &.odometer-last-value {
      width: 100%;
    }
  }

  .odometer-digit {
    &:first-child {
      transform: translateX(5px);
    }
  }
}

.no-js {
  .load-hidden {
    visibility: visible;
  }
}
