@import 'variables';
@import 'mixins';
@import 'grid';
@import 'typography';
@import 'modifiers';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $blue-dark;

  &.mobile-menu-open {
    overflow: hidden;

    @include bp(lg) {
      overflow: auto;
    }
  }
}

body {
  color: $light-ocean;
  font-family: $font-primary;
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  margin: 0;
  max-width: 100%;
  min-height: 100%;

  @include bp(lg) {
    font-size: 17px;
  }

  .main {
    background-color: $cloud;
    padding-bottom: 40px;
  }

  &.page-template-template-landing {

    .main {
      padding-bottom: 0;
    }
  }
}
