// Breakpoint mixin inspired by the one found on https://medium.com/@justinbrazeau/10-useful-sass-mixins-for-automation-833cdee9d69b
@mixin bp($size, $type: min, $pixels: $bp-sm) {
  @if $size == 'sm' {
    @media screen and ($type + -width: $bp-sm) {
        @content;
    }
  } @else if $size == 'md' {
    @media screen and ($type + -width: $bp-md) {
        @content;
    }
  } @else if $size == 'lg' {
    @media screen and ($type + -width: $bp-lg) {
        @content;
    }
  } @else if $size == 'xl' {
    @media screen and ($type + -width: $bp-xl) {
        @content;
    }
  } @else if $size == 'custom' {
    @media screen and ($type + -width: $pixels) {
     @content;
    }
  } @else if $size == 'IE11' {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     @content;
    }
  } @else if $size == 'DPI' {
    @media (min-resolution: 192dpi) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin psuedo ($display: block, $position: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $position;
}

@mixin get-flap($theme: 'blue-dark') {
  @if $theme == 'blue-dark' {
    background-image: url('../assets/flap-blue-dark.svg');
  } @else if $theme == 'blue' {
    background-image: url('../assets/flap-blue-mid.svg');
  } @else if $theme == 'blue-light' {
    background-image: url('../assets/flap-blue-light.svg');
  } @else if $theme == 'orange' {
    background-image: url('../assets/flap-orange.svg');
  } @else if $theme == 'purple' {
    background-image: url('../assets/flap-purple.svg');
  }
}

@mixin cfix() {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

%darken {
  @include psuedo;
  background-color: $blue-dark;
  height: 100%;
  left: 0;
  opacity: .6;
  top: 0;
  transition-duration: .25s;
  transition-property: opacity;
  transition-timing-function: ease;
  width: 100%;
  z-index: 1;

  @include bp(lg) {
    opacity: .5;
  }
}

%flap {

  &::after {
    @include psuedo;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -110px;
    display: block;
    height: 110px;
    right: -110px;
    transition-duration: .5s;
    transition-property: right, bottom, width, height;
    transition-timing-function: ease;
    width: 110px;
    z-index: 1;

    @include bp(lg) {
      bottom: -223px;
      height: 223px;
      right: -223px;
      width: 223px;
    }

    @include bp(IE11) {
    }
  }

  &:hover {
    &::after {
      height: 100%;
      transition-duration: .5s;
      width: 100%;
    }
  }

  &.activated::after {
    bottom: 0;
    right: 0;
  }

  &.theme-blank::after {
    @include get-flap('blue');
  }

  &.theme-blue::after {
    @include get-flap('blue');
  }

  &.theme-blue-light::after {
    @include get-flap('blue-light');
  }

  &.theme-blue-dark::after {
    @include get-flap('blue-dark');
  }

  &.theme-orange::after {
    @include get-flap('orange');
  }

  &.theme-purple::after {
    @include get-flap('purple');
  }
}

%theme-background {
  &.theme-blue {
    background-color: $blue-dark;
  }

  &.theme-blue-dark {
    background-color: $blue;
  }

  &.theme-blue-light {
    background-color: $blue;
  }

  &.theme-orange {
    background-color: $fire-dark;
  }

  &.theme-purple {
    background-color: $berry-dark;
  }
}
