::selection {
  background: $highlight;
  color: $white;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue-dark;
  font-weight: 600;
  line-height: 1.2em;
  margin: 1.25em 0 0;
  max-width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: extrabold;
  line-height: 1.176470588235294;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.264705882352941;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.15em;
}

ul {
  line-height: 1.8em;
  margin: 0 0 2em;
}

%leadin {
  font-size: 1.176470588235294em;
  line-height: 1.5;
}

p {
  margin: .5em 0 1.25em;
  max-width: 100%;

  &.large,
  .large & {
    color: $light-ocean;
    font-size: 1.5em;
    text-align: center;
  }

  &.small,
  .small & {
    font-size: .75em;
    line-height: 1.5em;
  }

  a {
    color: $blue-light;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  list-style: none;
  margin: .5em 0 0 27px;
  padding: 0;

  li {
    position: relative;

    &::before {
      @include psuedo;
      background-color: $blue-light;
      border-radius: 100%;
      height: 5px;
      left: -17px;
      top: 11px;
      width: 5px;
    }
  }
}

blockquote {
  color: $light-ocean;
  font-style: italic;
  font-weight: 600;
  line-height: 1.5em;
  margin: 2em;
  max-width: 36em;

  .source {
    font-style: normal;
    margin-top: -1em;
  }
}
