//  ==========================
//
//  COLOURS
//
//  ==========================

$black: #000;
$white: #fff;
$blue: #004d8c;
$blue-dark: rgba(0, 18, 61, 1);
$blue-light: #00a1e0;
$fire: #eb660f;
$fire-dark: #b23b00;
$berry: #a51973;
$berry-dark: #581f66;
$light-ocean: #7e87a0;
$dusk: #98a0b3;
$fog: #cbd0d9;
$cloud: #f2f3f5;
$light: #b3b3b3;
$dark: #4d4d4d;
$off-white: #e6e6e6;
$off-black: #1a1a1a;
$highlight: rgba(0, 161, 244, .99);
$dropdown-white: rgba(255, 255, 255, .95);
$transparent: rgba(0, 0, 0, 0);
$light-content: #808080;
$green: #1CA48F;

$blue-dark-transparent: rgba(0, 18, 61, .6);
$submenu-shadow: rgba(0, 0, 0, .35);


$gradient-filter: linear-gradient(to top, $black 0%, $transparent 100%);


//  ==========================
//
//  GRID SETTINGS
//
//  - Open Sketch, locate 'View' in the top right, click 'Layout Settings...'
//  - Update $mobile-gutter-width below to the 'Gutter Width' value in Sketch
//  - Update $total-width below to 'Total Width' value in Sketch
//
//  ==========================

// Gutter width [Mobile]
$mobile-gutter-width: 40px;

// Gutter width [Tablet]
$tablet-gutter-width: $mobile-gutter-width;

// Gutter width [Desktop]
$desktop-gutter-width: $tablet-gutter-width;

// Total width
$total-width: 1140px;


// Custom for theme
$larger-width: 1340px;



//  ==========================
//
//  BREAKPOINTS
//
//  ==========================

$bp-sm: 520px;
$bp-md: 768px;
$bp-lg: 1025px;
$bp-xl: 1140px;




//  ==========================
//
//  FONTS
//
//  ==========================

$font-primary: 'Overpass', sans-serif;
